<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Users</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/profile" routerLinkActive="active"> Profile </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/contactus" routerLinkActive="active"> Contact Us </a>-->
<!--      </li>-->
      <li class="nav-item dropdown">
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Setting-->
<!--        </a>-->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/users/setting"> Change Password </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<section class="pt-3">
  <div class="container">
    <h2> Admin Dashboard </h2>
    <h3>Welcome, {{admin?.userName}}</h3>
    <p> Your Email is : {{admin?.email}}</p>
    <div>
      <button class="btn btn-danger" (click)="logout()">Log Out</button>
    </div>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4">
          <div class="counter">
            <h2 class="count-user text-center" >{{totalUser}}</h2>
            <p class="count-text ">Total Users</p>
          </div>
        </div>
      </div>
    </div>
    <!--&lt;!&ndash;  users details&ndash;&gt;-->
    <!--  <div class="container mt-5">-->
    <!--    <div class="d-flex">-->
    <!--      <h4 class="m-auto">Users Details</h4>-->
    <!--&lt;!&ndash;      <div class="d-flex">&ndash;&gt;-->
    <!--&lt;!&ndash;        <button class="btn btn-primary float-end" routerLink="/products/add" routerLinkActive="active">Add User</button>&ndash;&gt;-->
    <!--&lt;!&ndash;      </div>&ndash;&gt;-->
    <!--    </div>-->
    <!--    <table class="table mt-3">-->
    <!--      <thead>-->
    <!--      <tr>-->
    <!--        <th scope="col">#</th>-->
    <!--        <th scope="col"> User Name </th>-->
    <!--        <th scope="col"> Email </th>-->
    <!--        <th scope="col"> Role </th>-->
    <!--      </tr>-->
    <!--      </thead>-->
    <!--      <tbody>-->
    <!--      <tr *ngFor="let list of userList; let i= index;">-->
    <!--        <th scope="row">{{ i+1 }}</th>-->
    <!--        <td> {{ list.userName }} </td>-->
    <!--        <td> {{ list.email}} </td>-->
    <!--        <td> {{ list.isRole }} </td>-->
    <!--&lt;!&ndash;        <td> <button class="btn btn-danger" (click)="deleteProduct(content, product._id)"> Delete </button> </td>&ndash;&gt;-->
    <!--      </tr>-->
    <!--      </tbody>-->
    <!--    </table>-->
    <!--  </div>-->
  </div>
</section>


